[2012-06-18 23:57] tollmanz opened #1 "Add stats functionality"
The other WordPress object cache backends have stats functionality. It might be worth adding this here, but perhaps using a different method to reduce overhead.

[2012-06-18 23:58] tollmanz opened #2 "Handle RES_HOST_LOOKUP_FAILURE properly"
Need to fail gracefully when this error occurs.

[2012-06-18 23:59] tollmanz opened #3 "Abstract "local cache" code"
There is a lot of redundancy handling the local cache. It should be abstracted.

[2012-06-19 00:00] tollmanz opened #4 "Handle the server array used by the other memcached backend"
The normal $memcache_servers array needs to be converted to the style array used in this class.

[2012-06-19 00:05] tollmanz opened #5 "Clean array keys from getMulti functions"
Get multiple functions return the derived keys (e.g., "default:my-key"). The group should be extracted.

[2012-06-19 01:44] tollmanz commented on #5
Actually, after reviewing this some more, the returned values should have the same key that was used to store the data. The return value is ok as is.

[2012-06-19 01:44] #5 closed, assigned to nobody

[2012-06-19 05:46] tollmanz opened #6 "Use blog_prefix in keys for MS compatibility"
Need to explore if the blog_id is sufficient or if blog_prefix is also necessary. This will be very clear once MS is tested more fully.

[2012-06-19 14:09] tollmanz opened #7 "Remove the global prefix"
This needs testing, but there is a good chance this will mess up global groups. The fix would be to use prefixes like Boren's object cache.

[2012-06-19 22:51] #6 closed, assigned to nobody

[2012-06-19 22:51] #7 closed, assigned to nobody

[2012-06-21 05:35] tollmanz opened #8 "Add server number awareness to *ByKey methods"
It appears that the *ByKey methods in Memcached are very arbitrary. It is hard to match a key to a server. The following changes are suggested:

1) In the event that there is a single server, route all *ByKey requests to a single $server_key for the runtime change. The getServerByKey method may need to be utilized to make this work correctly.

2) Will likely need to create an internal mapping of s

[2012-06-21 06:01] tollmanz commented on #8
Turns out that this `addByKey` and `getByKey` methods pass unit tests that consider what is in the runtime cache as well as what is actually stored in memcached. I will leave the ticket open for now as I continue to explore and test this issue.

[2012-06-25 03:13] tollmanz opened #9 "Handle NULL $cas_token value for get and getByKey"
The following code fails:

`$m->get( 'my-key', null, $cas_token );`

It fails because the first conditional in the method sees the third argument as null and therefore does not call the Memcached `get` method. Instead it pulls from the internal cache. A way around this is to do something like:

`$cas_token = '';
$m->get( 'my-key', null, $cas_token );`

Using the native Memcached class' `get` metho

[2012-06-29 04:55] tollmanz opened #10 "Check getResultCode instead of (bool) false when dealing with memcached results"
In the add, set, replace, append, etc. function, instead of checking against (bool) false to determine if the internal cache should be set, getResultCode should instead be checked. This allows for values of (bool) false to be properly stored.

[2012-06-29 05:13] tollmanz commented on #9
Fixed in commit d3982096ed29eb794d1f690c7b4a7897d440dea4. By checking `func_num_args`, it can be determined if a value was passed to the 3rd or 4th arg.

[2012-06-29 05:13] #9 closed, assigned to nobody

[2012-06-29 05:15] tollmanz opened #11 "See if error is thrown when a non-callable function is sent to "get""
This might be handled by Memcached internally, but it is important that this be explicitly explored. In the event that a non-callable function is sent to the "get" methods, this class would need to check for the issue if Memcached does not explicitly handle it.

[2012-07-01 05:21] tollmanz commented on #11
An error is indeed thrown, but this is expected behavior. The error is descriptive and appropriate. This is a non-issue.

[2012-07-01 05:21] #11 closed, assigned to nobody

[2012-07-02 04:15] tollmanz opened #12 "Add wp_cache_set_by_key wrapper function"

[2012-07-03 05:01] tollmanz commented on #8
Decided to remove the notion of notion of server keys in the internal cache (26116b18123f060dfe0723f012da8f60ee610ebd), which makes this moot.

[2012-07-03 05:01] #8 closed, assigned to nobody

[2012-07-03 05:03] tollmanz opened #13 "Refactor ByKey methods"
Since removing the server keys from the internal cache (26116b18123f060dfe0723f012da8f60ee610ebd), all of the methods that have a ByKey relative, are essentially the same function other than the difference in the call to memcached. The code could be greatly simplified by trying to integrate methods with their ByKey relatives. This would likely involve adding another parameter to the functions that

[2012-07-04 05:56] tollmanz opened #14 "Test what happens when keys aren't set for append/prepend/replace methods"

[2012-07-04 17:42] tollmanz opened #15 "Remove $server_key arrays in internal cache"
After significant thinking, waffling, and misunderstandings about the *ByKey methods, I have decided to remove the notion of server keys within the internal cache.

Memcached's implementation of the ByKey methods are a little confusing and have been the primary reason I've changed my mind about how to tackle this issue. After a lot of testing, I have found the following truths to be self-evident:

[2012-07-04 19:11] #15 closed, assigned to tollmanz

[2012-07-04 19:12] tollmanz opened #16 "Unit test wrapper functions"
All of the wp_cache_\* functions have not been tested. The current unit testing directly tests the WP_Object_Cache methods. It should be relatively straight forward to port the tests over for tested the wrapper functions. It is important to do this testing in order to verify that the methods are being called correctly.

[2012-07-05 02:23] #13 closed, assigned to tollmanz

[2012-07-05 02:25] #3 closed, assigned to tollmanz

[2012-07-07 06:49] tollmanz opened #17 "Change call to methods from wrappers if CAS token or cache_cb are used"
Need to make sure that the internal cache is not inadvertently avoid when using the wrapper functions. If the num of args isn't examined, a call to memcached may be prompted when not necessary.

[2012-07-07 06:54] tollmanz opened #18 "Explore type casting with prepend"
See if casting in prepend is the same as it is with append. If so, apply the same routines in prepend as was used in append.

[2012-07-07 07:09] tollmanz commented on #17
Completed with 86746fc6e2a5c83e302e34beb3ab6b68affbd53f and 2b380261e34d964e07fb0996512d126ffd80643b.

[2012-07-07 07:09] #17 closed, assigned to nobody

[2012-07-07 07:10] tollmanz opened #19 "Write unit tests to compare values in internal cache with values in memcached"
Additionally, make sure that values are coming from the appropriate place (i.e., memcached vs. internal cache).

[2012-07-07 16:07] #16 closed, assigned to tollmanz

[2012-07-07 16:08] #12 closed, assigned to tollmanz

[2012-07-07 17:14] tollmanz commented on #19
Completed unit testing for this issue and values are getting set in the internal cache and being pulled from it.

[2012-07-07 17:14] #19 closed, assigned to tollmanz

[2012-07-07 18:25] tollmanz commented on #10
Closed with 3ad02913daa9619233ae25f15e67b18d5d648dd6

[2012-07-07 18:25] #10 closed, assigned to tollmanz

[2012-07-08 05:26] #18 closed, assigned to tollmanz

[2012-07-08 05:35] tollmanz commented on #14
Memcached returns false. This is mimicked in the pre/append methods after commit e7113b405bec1edc78314565754dadaec2a7f9aa.

[2012-07-08 05:35] #14 closed, assigned to tollmanz

[2012-07-08 05:40] tollmanz commented on #4
I decided that it is easy enough to put the server array in the proper format that it is not worth the overhead to parse the other array structure.

[2012-07-08 05:40] #4 closed, assigned to tollmanz

[2012-07-08 18:08] tollmanz opened #20 "Determine cache function namespacing"
Nacin recommended that the "wp" namespace not be used for these functions. I need to settle on a good namespace prefix. Thinking "memd" for the moment. Once that is done, will need to update unit tests.

[2012-07-08 23:02] tollmanz opened #21 "Add support for newer methods not documented on php.net"

[2012-07-08 23:05] tollmanz commented on #21
- incrementByKey
- decrementByKey
- resetServerList
- touch
- touchByKey
- getAllKeys
- deleteMulti
- deleteMultiByKey
- isPristine
- isPersistent
- setOptions

[2012-11-06 01:55] evansolomon opened #22 "Clone objects before they are returned from cache"
When PHP returns an object, it does so by reference, which means that the returned value has the capability to change the "original" value.  This tends not to matter, but in the case of object caching it can cause big (and confusing) problems.  If an object (i.e. `is_object()`, not just a generic name for data) is returned from cache, then changed, the change affects the data in the cache.  The mo

[2012-12-07 22:49] tollmanz opened #23 "Add support for wp_cache_switch_to_blog introduced in WP 3.5"
There is now a `wp_cache_switch_to_blog` that needs to be supported in WP 3.5. Research and add this support.

[2013-02-12 12:50] Coopeh opened #24 "Slows down site"
Any reason why this would add 6-10 seconds of page generation time? I'm assuming I have a configuration problem somewhere. I have both memcache and memcached pecl extensions installed, wp-config is configured as you specified and my memcached config is below:

-d
logfile /var/log/memcached.log
-m 512
-p 11211
-u memcache
-l 127.0.0.1
-c 4096
-k
-r
-t 8
-b 8196

Cheers,
Ed

[2013-02-28 16:25] tollmanz commented on #24
Hi @Coopeh!

I totally missed this report. Sorry about that! I have no reason to think the plugin would cause a 6-10 second slow down :frowning:

I would probably test memcached with a simple PHP script just to rule that out as the problem:

[code]

That will quickly tell you if it is setup correctly.

[2013-03-02 00:22] Coopeh commented on #24
Hi, no problem.

Yeah, that test script works no problem. When I add your object-cache.php back in though it ups page generation time from 1 seconds to 8 at the moment. Is there anything else I can test?

Cheers,
Ed

[2013-03-02 02:13] Coopeh commented on #24
Right, some more testing. It appears that it only effects Super Admins on a Multisite install. All other users are sped up considerably, so not sure what that could be. I'll have a play about with some plugins and see if anything changes.

Ed

[2013-03-02 02:50] Coopeh commented on #24
Removed my user and created a new one has fixed it, not sure what it was loading that caused it to slow down so much. Possibly due to having too many blogs attached to me?

Ed

[2013-03-02 14:47] tollmanz commented on #24
@Coopeh thanks for the follow-up information! This is something I will need to examine further. I am going to open this ticket back up for now so I remember to investigate. This _may_ be related to #23.

[2013-03-02 15:01] #22 closed, assigned to nobody

[2013-05-09 16:24] Coopeh commented on #24
It's back to being slow again unfortunately. Seems to be as I add new blogs over time.

Ed

[2013-05-24 16:39] tollmanz commented on #24
@Coopeh I have a few questions for you:
1. Any reason why you have the memory set to 512M?
2. Are you running memcached on the same server as your db server and your web nodes?
3. How many memcached servers are you running?
4. How many sites are you running?

[2013-05-24 16:56] Coopeh commented on #24
Hi,

1) It's currently at 768mb of ram and nearly all used, it's for a large multisite install.
2) Yeah, all on the same server at the moment.
3) 3 instances, but only one for this multisite install.
4) it's running about 10,000 blogs currently.

Cheers,

Ed

[2013-05-24 22:47] tollmanz commented on #24
Hi @Coopeh! Thanks for the information.

My first reaction is WHOA!!! 10,000 blogs and only a single memcached server is likely a major problem. I'm guessing that you are experiencing two issues:
1. You do not have enough memory dedicated to memcached. I would think that you'd want at least 2 GB of memory total.
2. You should have probably at least 2 memcached boxes. I would try to give each 2GB o

[2013-05-28 13:44] Coopeh commented on #24
Hi,

We aren't actually running out of resources on the server. I've upped the limit to 1GB over the last few days and it's never hit anywhere near it's maximum. Looking at phpMemcachedAdmin, it usually uses up to about 768mb of RAM and then seems to stop. Not sure if that is due to flushing occurring, also not sure what causes the flushes to happen, plugin/theme upgrades? The actual connection ra

[2013-05-29 16:37] tollmanz commented on #24
Have you looked at your resource utilization when a superadmin is doing superadminy things? My hunch is that superadmins are causing significant MySQL queries, which is slowing down their experience. If this is the case, there could be a few things happening:
1. My memcached library is just not working with superadmins. As indicated above, this could be related to #23.
2. You may have some custom

[2013-06-03 13:05] Coopeh commented on #24
Hi, sorry for the delay. Here are my findings:

Visiting Network > Settings page:

Brand new Super Admin:
  Ram usage: ~20mb
  Flow profile: https://gist.github.com/Coopeh/5698010

Old Super Admin with 3 attached blogs, more in past, but removed:
  Ram usage: ~80mb
  Flow profile: https://gist.github.com/Coopeh/5698020

It appears that the adminmenu action is causing a delay as it switches through

[2013-11-26 23:00] danielbachhuber opened #25 "How much better is this plugin than the Memcached plugin?"
Just asking...

[2014-02-10 05:08] OsoBear opened #27 "Cannot use a scalar value as an array options.php"
After installing the drop in, I get the error:
Warning: Cannot use a scalar value as an array in /var/www/vhosts/domain.com/httpdocs/wp-includes/option.php on line 68

Any ideas?
WP  Version 3.8.1

[2014-02-10 06:17] tollmanz commented on #27
That is an odd error. I have a few questions to see if we can find the issue:
1. Do you have [PECL Memcached](http://pecl.php.net/package/memcached) installed? Note that this is different from [PECL Memcache](http://pecl.php.net/package/memcache).
2. If you run this PHP script on your server, what results do you get?

[code]
3. Can you do a full stack trace on the issue, perhaps with [Xdebug](http

[2014-02-10 06:22] tollmanz commented on #25
The short answer is, I do not know. It uses PECL Memcached instead of PECL Memcache, which is supposedly more stable the PECL Memcache. It also adds some fun new caching features that your code can take advantage of.

[2014-02-10 06:22] #25 closed, assigned to nobody

[2014-02-12 00:34] danielbachhuber opened #28 "Test coverage"
I set up test coverage for the Redis drop-in here: https://github.com/alleyinteractive/wp-redis/pull/2

Should be pretty easy to port over should you want to.

[2014-02-12 03:48] tollmanz commented on #28
@danielbachhuber I need to integrate tests that I already have (once I find them :( ). Interestingly, some of those test that you brought over from core were ones that I added to core based on ones that I wrote for this backend ;). I have really good coverage with my tests, but just need to dig them up. If I get them to you, would you want to set up CI?

[2014-02-12 04:14] tollmanz commented on #28
Ugh...I was certain that I had these in a backup, but I cannot find them anywhere. I had SO many tests written and helped me find a ton of little bugs. This is very saddening :(

[2014-02-12 04:28] tollmanz commented on #28
Woot! Found them in an email. I have 3000 lines of [unit tests](https://www.dropbox.com/s/fhnf2em11anwefk/memcached-unit-tests.zip). These were written about a year and a half ago, so I am not sure how well they will play with the newer PHPUnit/WordPress setup. I'd love to integrate these tests if you are interested in helping.

[2014-02-12 04:30] tollmanz commented on #28
I'd particularly love to get the "switch to blog" tests in here and get it covered for #23.

[2014-02-12 05:10] tollmanz commented on #28
@danielbachhuber Can you review the "tests" branch and let me know what you think? I think this is setup correctly.

Is it possible to move all of the testing related stuff into a separate directory?

[2014-02-12 16:35] danielbachhuber commented on #28
Looks pretty good but missing a couple of things for Travis. You'll want to make sure Memcache is running, and the PECL/memcached module active. In your .travis.yml this would be:

[code]

Before you update and push, I'd get the repo set up with Travis so you can test the build for the first time.

I think you could just put it in a separate repo and submodule it in.

Heh. What I'd really like to

[2014-02-15 16:39] tollmanz commented on #28
Thanks, Daniel! I'll see if I can get this running.

Good idea! I definitely want better organization than what I currently have.

I have mixed feelings about this. On the one hand, it would be nice to know that the core tests pass with this object cache; however, I find that the core tests need a lot of TLC. I wouldn't mind using them, but I like my tests a lot more. I had to get very granular wi

[2014-02-15 19:28] tollmanz commented on #28
Tests are integrated and Travis CI is setup with a passing status! Thanks for prompting me to do this @danielbachhuber!

[2014-02-15 19:28] #28 closed, assigned to nobody

[2014-02-15 20:17] tollmanz commented on #23
Fixed in https://github.com/tollmanz/wordpress-memcached-backend/pull/29

[2014-02-15 20:17] #23 closed, assigned to nobody

[2014-02-15 20:18] tollmanz commented on #27
Hi @OsoBear! Any updates on this? If I do not hear back from you soon, I will close this ticket. I'm happy to help you in the future, but I just want to keep the issues cleaned up.

[2014-02-16 00:21] OsoBear commented on #27
I went ahead and have been using Ryan's version, but I'll give your suggestion a try to see if that works. Hopefully later this weekend. To answer your question - I have both PECL Memcached and PECL Memcache installed. I'll reinstall your version and try running your PHP script and see if that works. One other side note -- I'm using PHP-FPM 5.5. I'm assuming your memcached backend is compatible?

[2014-02-16 02:12] tollmanz commented on #27
Thanks for the feedback @OsoBear! Boren's Memcached backend is definitely the champion. It has been in production for a LONG time. I appreciate that you gave this a shot.

I do not know how well this will run with PHP 5.5 as I do not have any WordPress sites running 5.5 in production. I've done some dev testing in local development boxes and did not notice any issues.

Since you opened this issue,

[2014-03-02 05:11] tollmanz commented on #27
@OsoBear I'm closing this issue for now. If you do look into this issue some more, we can open the issue again. I appreciate you reporting the problem.

[2014-03-02 05:11] #27 closed, assigned to nobody

[2014-03-02 20:01] tollmanz commented on #24
@Coopeh Hmmm...looks like I let this grow way stale. I'd like to look into it some more. Are you still attempting to use the drop-in? If so, I've since resolved #23, which I hope improves the experience for you. I'd be really interested to see if the update fixes this issue.

[2014-03-02 20:05] Coopeh commented on #24
Hi @tollmanz. I'm using it on another multisite installation, started on WP3.7, and it doesn't really slow down on this one. The previous installation was for another company I no longer work for. I'll pass on for them to test it and get back to me.

[2014-03-02 20:09] Coopeh commented on #24
I've just tested this on my install, it's made it much, much faster, so that's a bonus for me. Thanks!

[2014-03-02 20:14] tollmanz commented on #24
Good to know @Coopeh! I'll keep this ticket open for a while longer. It sounds like things are fixed, but I'll wait a little bit to hear back about the original install.

[2014-04-05 15:36] szepeviktor opened #32 "memcached auth"
Please consider supporting
http://redislabs.com/memcached-cloud
Redis Labs needs SASL auth for memcached.

Thank you!!

[2014-04-05 16:46] tollmanz commented on #32
Thanks for the suggestion! Can you give me more information about what would be needed to support the service? Does it make sense to shoehorn this support into this library, or would it make more sense to build a separate library?

[2014-04-05 16:51] szepeviktor commented on #32
<img src="http://i.snag.gy/JUQWs.jpg"/>

[2014-04-05 16:53] szepeviktor commented on #32
I think it is a oneliner:
http://php.net/manual/en/memcached.setsaslauthdata.php

[2014-04-05 16:54] szepeviktor commented on #32
And the missing doc:
http://php.net/manual/en/book.memcached.php#110988
Actually it is a 3-liner

[2014-04-05 17:01] szepeviktor opened #33 "hack^2"
Would you use a define?

[code]

[2014-04-05 17:39] tollmanz commented on #33
Let's keep discussing this in #32. I'm closing this to keep things clean.

[2014-04-05 17:39] #33 closed, assigned to nobody

[2014-04-05 17:42] tollmanz commented on #32
In response to your [comment on #33](https://github.com/tollmanz/wordpress-memcached-backend/issues/33#issue-30919541), I think we'd need to update the `$memcached_servers` global variable in the **wp-config.php** file. Then in `WP_Object_Cache::__construct()`, we need to read in the auth variables and connect to the remote Memcached instance.

[2014-04-05 18:06] szepeviktor commented on #32
Yes

[code]

[2014-04-07 14:55] tollmanz commented on #32
@szepeviktor If you would like to work on a pull request for this feature, I would be happy to consider it. I am not particularly motivated to add SASL support at this time as I am not convinced it is very useful. I have no aversion to accepting a good PR; rather, I just do not feel motivated to investigate and implement the SASL connection.

[2014-07-05 20:49] tollmanz commented on #22
Interestingly, this bit be again. I needed to clone objects before _setting_ to cache. In particular, this is an issue if you add an object to the _internal cache_ and request it again in the same run time. Your patch helped with persistent requests, but I found the within run time requests still had this problem.

[2014-07-05 22:50] tollmanz commented on #24
Closing this due to no feedback. I think this is a problem that has been resolved.

[2014-07-05 22:50] #24 closed, assigned to nobody

[2014-07-05 22:52] tollmanz commented on #1
Closing as won't fix. I'm not interested in adding stats.

[2014-07-05 22:52] #1 closed, assigned to tollmanz

[2014-07-08 06:01] tollmanz opened #40 "Allow setting of global options"
PECL Memcached exposes a lot of [options](http://www.php.net/manual/en/memcached.constants.php). This library allows you to set some of them via the `wp_cache_set_option()` function. While this will work in some cases, it's not a great way to set options for the object cache prior to core using the cache.

I would like to extend `$memcached_servers` into something like `$memcached_config` that con

[2014-07-08 06:08] tollmanz opened #41 "Add support for the binary protocol"
There are possibly performance benefits with the binary protocol. Currently, setting this option causes the CAS functions to fail. The option should be set via the config rearrangement in #40.

[2014-07-08 06:12] tollmanz commented on #41
It looks like unit testing are failing largely due to the test for success at the end of the CAS method. Apparently, [testing for success is different]() with the binary protocol. We need to test against `Memcached::RES_END`. This should be easy to change once the config is implemented.

[2014-07-16 17:18] kn007 opened #42 "maybe could support for the unix socket?"
Using like this:
$memcached_servers = 'unix:/tmp/memcached.sock';
or
$memcached_servers = 'unix:///tmp/memcached.sock:0';

[2014-07-26 16:26] tollmanz commented on #42
Hi @kn007! I totally missed this ticket. Can you tell me more about this? What are the benefits? Is this likely to work for the majority? What problems might creep in?

[2014-08-12 17:30] TheLastCicada commented on #42
I know WPEngine uses memcached sockets for connecting - they should be faster as they don't have to deal with all the TCP overhead.  However, they'll only be useful when running locally - you'd still need to use TCP if connecting to a remote memcached instance.  I've not used them before myself, but would be intrigued to have that option here.

[2014-08-25 17:39] tollmanz opened #44 "wp_suspend_cache_addition() is always defined when wp_cache_add is called"
@bradyvercher reported that when using Batcache, `wp_cache_add()` is called before `wp_suspend_cache_addition()` is defined causing a fatal error. This is due to Batcache loading the object cache before it is normally added. As such, `wp_suspend_cache_addition()` is not defined.

This issue can be resolved by adding a `function_exists()` call before using [`wp_suspend_cache_addition()`](https://gi

[2014-10-20 17:21] einkoro opened #46 "Composer support"
Any thoughts on adding composer support? I think it would go well with publishing on the WP plugin repo (https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/pull/26) as it would then be included on http://wpackagist.org/

http://roots.io/wordpress-plugins-with-composer/

[2014-10-25 23:58] #44 closed, assigned to tollmanz

[2014-11-11 02:56] Ipstenu opened #47 "Caching shopping cart using SSL"
Shortish version. If I activate this for my multisite, everything works _except_ the shopping cart. That gets all weird and will show cached data, when it really shouldn't.

The whole site is https. Shouldn't that not be getting cached?

[2014-11-11 06:20] tollmanz commented on #47
Thanks for checking out this object cache!

https will not affect the object cache. The object cache should work the same for https and http.

Can you tell me more about the issue? Which shopping cart are you using?

[2014-11-11 14:50] Ipstenu commented on #47
Easy Digital Downloads.

When I went to the site with cache on, the cart said I had an item already in the cart (when I didn't). If I clicked on the cart to see what I had, it listed two books (nope, hadn't added anything).

When some people clicked add to cart it just went the the cart page and then said that the cart was empty.

So the problem is ... I think I don't actually WANT it to cache the

[2014-11-11 15:39] tollmanz commented on #47
Yikes! This is _really_ bad.

I can look at things from the object cache perspective; however, I really do not understand how the object cache would cause the issue unless the object cache is being used incorrectly. I will take a look and am also looping in @pippinsplugins so he is at least aware of this.

[2014-11-11 15:41] tollmanz commented on #47
Have you removed this object cache for now? Just wondering if I should even try reproducing on your site.

[2014-11-11 15:49] pippinsplugins commented on #47
@Ipstenu Are you using DB sessions or PHP sessions? Downloads > Tools > System Info and look for "PHP Sessions".

[2014-11-11 23:49] tollmanz commented on #47
I took a look at EDD and there is very little caching going on, so I am surprised to hear that EDD + this object cache resulted in this bug.

Are you using a page cache too @Ipstenu?

[2014-11-12 00:02] Ipstenu commented on #47
I removed the object cache. Since I'm in and out of the house this week, it seemed sensible to not break the store ;)

The only other cache I have running is Batcache and Pagespeed. Pagespeed is just set to compress the CSS/JS and images right now.

https://wordpress.org/plugins/batcache/

@pippinsplugins - There's no Downloads > Tools on 2.1.9 o.O However I think I'm using PHP Sessions, since I n

[2014-11-12 00:08] tollmanz commented on #47
Thanks @Ipstenu! My guess is that the page cache is what is causing issues. If one user added items to her cart and caused a page to generate with her items, it would poison the cache with her cart. I'm pretty sure batcache does not have special rules in place for EDD pages.

To help figure this out, can you see if you can recreate the issue _without batcache_?

[2014-11-12 00:10] Ipstenu commented on #47
Tested. Confirmed. Same problem happens without Batcache active (it's an advanced-cache.php file, so I did the ol' rename thing). As soon as I turn on Object Cache, it shows me someone else's cart :(

[2014-11-12 00:16] tollmanz commented on #47
Boo...thanks for checking. I'll have to try to recreate this myself to take a closer look. I'm not really sure at all what could be happening.

[2014-11-12 00:23] Ipstenu commented on #47
Sure, let me know what server / php specs you need to know :)

[2014-11-12 01:01] pippinsplugins commented on #47
@Ipstenu Is this on store.ipstenu?

[2014-11-12 17:36] Ipstenu commented on #47
store.halfelf.org :) It's an alias for store.ipstenu.org though if that matters.

[2014-11-14 02:55] webaware commented on #47
@Ipstenu (butting in here): can you be sure that no other caching is affecting this? e.g. fragment caching in your theme?

[2014-11-14 16:47] Ipstenu commented on #47
To the best of my knowledge, StudioPress themes don't come with caching. I'm using Genesis as a parent theme.

PageSpeed has downstream caching, but that's disabled right now. Also it's ONLY doing images, css and js for https.

[2014-11-15 02:16] webaware commented on #47
Actually, I heard that Genesis can support fragment caching, via W3 Total Cache at least. I know you're not running that, but I wouldn't rule out the theme here. Is it possible to try switching the shop to twentytwelve briefly to do a test?

I think the most likely scenario here, however, is crossover. Do you have other sites on this server that are using Memcache? If so, you need to set `WP_CACHE

[2014-11-16 01:49] Ipstenu commented on #47
I have about 7 or 8 WP sites and other things on the same server. Two WP sites use this plugin. One is Multisite (including this Store) and one is not. The single site has been just fine as far as I can tell.

I put that code it but had the same issue, so I tried a different theme with the Salt in place. The cache 'held on' to the old theme. So yes, the cache isn't being invalidated, but it's not

[2014-11-16 23:50] webaware commented on #47
Hmmm. It's starting to sound very much like problems with WP_Session; see [this WooCommerce discussion](http://mikejolley.com/2013/12/problems-with-cart-sessions-and-woocommerce/) for some background.
- Are you setting `WP_SESSION_COOKIE` anywhere? If so, are you including '_wp_' in the cookie name?
- Could there be anything else messing with your cookies, like some nginx config? (I know, you said

[2014-11-17 16:16] Ipstenu commented on #47
1) Not that I know of.

2) I'm sure :) But again, not that I know of.

3) I did a grep and didn't find any

4) Same as 3, grep, nothing there.

5) Nope, table prefix is wp_

6) Subsite. It's a subdomain (store.ipstenu.org) mapped to a subdomain (store.halflelf.org) with an https plugin installed.

Active plugins:
- AdControl
- EDD
- EDD Purchase Gravatars
- EDD Stripe
- Genesis Simple Hooks
- Poll

[2014-11-19 06:36] webaware commented on #47
For about 30 seconds, I thought I was replicating your issue, until I realised I had two Midori windows open -- i.e. both had same session. I still can't replicate. Thought it might be WP Menu Cart but that's not it either. Sorry I can't help. Good luck tracking it down, it definitely looks like WP_Session somehow!

[2014-11-29 01:38] tollmanz commented on #47
Hey @Ipstenu!

I'm looking into this now and cannot reproduce it.

I've been fixated on the shopping cart in the menu. It's not unheard of for menus to be cached as they can be a performance bottleneck. I have a few questions for you.
1. Is the problem that you are seeing only in the menu?
2. Is there any chance that the menu might be cached? This can be controlled outside the theme.

I'd be inter

[2014-11-30 02:42] Ipstenu commented on #47
1. Nope, saw it in the cart itself too :(
2. I don't know. I'm not actively caching the html, beyond what Batcache disk but I tested it with Batcache off.

Yes, it happens without the menu plugin. In fact, I saw it without the menu at all.

At this point I think it's something with my server install of memcached :/

Sent from my phone

[2014-11-30 19:03] Ipstenu commented on #47
99.999% solved!

1) I had EDD_USE_PHP_SESSIONS defined in two places _facepalm_ One was true, one was false. (It was in wp-config AND my mu-plugin for the store)
2) It's BatCache :(

I figured that out because once I fixed Item 1, the cross-polination issue stopped. But... The checkout page kept showing 0 while the menus were right. Buh? Then I flushed the cache (wp cache flush) and BOOM it all wo

[2014-11-30 20:08] tollmanz commented on #47
Awesome! Great work.

So, you can probably use this with batcache (or any full page cache) with the appropriate exceptions in place. Basically, you need to not cache any page that has a dynamic cart. Let's say that your checkout work flow includes a cart page and a checkout page, you should be able to run your full page cache on the rest of the site, but set up exceptions for those two pages. That

[2014-11-30 20:08] #47 closed, assigned to nobody

[2014-11-30 21:56] webaware commented on #47
@Ipstenu  Yay!

[2014-11-30 22:27] webaware commented on #47
@Ipstenu this actually says to me that Batcache is not safe to use with WP_Sessions, period. Perhaps @pippinsplugins can confirm, or at least be aware. Mike Jolley specifically mentioned Batcache in [his blog post about WP_Sessions](http://mikejolley.com/2013/12/problems-with-cart-sessions-and-woocommerce/), although it sounds like having `_wp_` in the cookie name is meant to fix it. EDD does have

[2014-12-01 02:26] Ipstenu commented on #47
Interestingly, it was only a problem with both Batcache and this plugin, which is weird to me. I ended up telling Batcache not to cache the store at all, to play it 'safe.'

[2014-12-14 02:45] kn007 commented on #42
@tollmanz  Thank you for you reply. This object-cache.php is very useful. My wordpress web site and my memcached server in the same VPS, so it will be faster(less waiting time) when using socket file in high load avg status.
Thanks @TheLastCicada , Memcached version > 2.0.0b1 could using unix socket file.
E.g. addServer('/tmp/memcached.sock',0);
We can do it ourselves.
Not to be confused with Memc

[2014-12-15 00:11] tollmanz commented on #42
@kn007 This is definitely something I want to explore. I like the idea especially if there is a measurable improvement in speed. Thanks for the added information. Hopefully we'll be able to get to this some day.

[2014-12-15 00:12] tollmanz commented on #46
Great idea...I'd love to do it!

[2015-01-04 05:23] tollmanz opened #52 "Use `symlink()` to create symlink"
Per @swalkinshaw, it is a _much_ better idea to use a built in PHP function to create a symlink than shelling out to do it.

[2015-04-27 07:21] shmuel-krakower opened #56 "Possible memory leak"
Hi @tollmanz
Following some work on my side to test this plugin under load tests I thing I see an issue when non of the memcached servers are available.
When running the load test and stopping the memcached instance(s), over time, the usage of memory on the php server is increasing.

Once I start the memcached instance(s) again, the memory utilization is kept on the same level.

My setup is apache

[2015-04-27 15:27] tollmanz commented on #56
No. Doesn't mean there are not any though.

I'm having trouble figuring out whether this is really an issue or not. The problem is that memcached has failed, causing unexpected behavior in code that has memcached as a dependency. The fix is to make sure that the dependency is actually there.

I'm half tempted to say that the fix is to just make sure your memcached instances are running (e.g., via

[2015-04-27 15:34] shmuel-krakower commented on #56
I'll be working on that in the next couple of weeks, so I'll share my
findings here, hopefully you'll be able to assist.

On Mon, Apr 27, 2015, 6:27 PM Zack Tollman notifications@github.com wrote:

[2015-05-03 11:03] shmuel-krakower commented on #56
Hi @tollmanz - I've been trying to reproduce that issue for few days now...
I'm sure that this wasn't a memory leak, so I have one less concern.

Let me clarify the issue I had:
Originally I seemed to me like a high memory consumption taking place once none of the backend memcached servers is available.

After looking into it, it happens due to the fact that the application response time is gettin

[2015-05-03 11:03] #56 closed, assigned to nobody

[2015-05-11 17:13] gmazzap opened #57 "Allow settings via Environment variables"
First of all thanks for your work this.

Me, @franz-josef-kaiser and other fellows are very interested on the usage of this package on a pretty big website and integrate it in our workflow that is based on Composer and environment variables.

I already seen there's a PR about supporting Composer, and that's fine, so what is missing is the second part.

What I have in mind is something that affect

[2015-05-11 17:46] franz-josef-kaiser commented on #57
Subscribing myself to this issue. Btw, @Giuseppe-Mazzapica … I like your version of my name. I should be more YOsef these days.

[2015-05-11 18:10] gmazzap commented on #57
@franz-josef-kaiser LOL (fixed)

[2015-05-12 01:45] tollmanz commented on #57
Sounds reasonable to me. I'd happily review a PR.

Since this is something it sounds like you guys do regularly, do you have any other projects that take a similar approach?

Happy to pick this up as well. I don't use Composer with WordPress frequently, so happy to take some direction from those who do.

[2015-05-12 10:53] gmazzap commented on #57
Perfect, I'll work on it very soon.

Usage of environment variables in WordPress is something that I started to do recently. Before that, I used them in Laravel and general PHP works. I started to use them in WordPress since I released [WP Starter](http://wecodemore.github.io/wpstarter/) and since then I've used env vars in different works, but unluckily nothing public. [Roots](https://roots.io/)

[2015-05-20 08:48] bonny opened #59 "License"
Hey hey, what's the license of this wonderful thing? I want to use it in another plugin I'm making, is that okelidokely?

[2015-05-21 07:29] bonny commented on #59
Ok, I just assume it's ok for now, and my plugin using code from this repo is now online here:
https://github.com/bonny/memcachy

[2015-05-24 00:18] jeffwidman opened #60 "Does this correctly handle objects with expiration times more than 30 days in the future?"
See here: https://remaintenance.io/blog/2015/02/fixing-woocommerce-memcached-performance/

Basically when expiration is set more than 30 days in the future, other memcache object cache implementations have problems.

Does this implementation handle that scenario correctly?

[2015-05-24 06:35] tollmanz commented on #60
Yup. We dealt with this about a year ago: https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/pull/35. I find it a little silly to explicitly set an object to cache for 30+ days, but we have handled that issue.

[2015-05-24 06:35] #60 closed, assigned to nobody

[2015-05-24 15:50] jeffwidman commented on #60
Thanks!

[2015-05-24 16:48] jeffwidman opened #61 "For multiple single-site installs on single server, should WP_CACHE_KEY_SALT default to db_name + table_prefix?"
I have multiple single-site installs on a single server. All use the same memcache server.

I want to make sure each site uses distinct keys to avoid collisions.

From [the code](https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/blob/master/object-cache.php#L841), it looks like I have to manually specify a unique `WP_CACHE_KEY_SALT` in each site's `wp-config.php` to guarantee each

[2015-05-24 17:41] tollmanz commented on #61
Are you actually having a problem with collisions or are you trying to be proactive about it?

Currently, the [`buildKey` method](https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/blob/master/object-cache.php#L1906-L1916) attempts to handle this issue. If you are using single site installs, the `blog_prefix` instance variable is set to the `$table_prefix` global variable (e.g., som

[2015-05-24 17:43] tollmanz commented on #59
That's fine. Just be sure to continually update your plugin based on updates in mine. I don't officially have a license at this point, but it will likely be GPLv2 or MIT. I need to do a few things before I can make that official.

[2015-05-24 17:43] #59 closed, assigned to nobody

[2015-05-24 17:47] tollmanz commented on #57
Closing this as @Giuseppe-Mazzapica opened the more actionable #58.

[2015-05-24 17:47] #57 closed, assigned to nobody

[2015-05-25 03:32] tollmanz commented on #46
Handled in #51

[2015-05-25 03:32] #46 closed, assigned to nobody

[2015-05-25 03:33] tollmanz commented on #57
I landed Composer support in #51. I know you guys use Composer more extensively with WP. If you have any suggestions, please let me know.

[2015-05-25 06:31] jeffwidman commented on #61
Thanks for the fast response. Really appreciated.

Proactive. Was going to drop this in yesterday when I realized it might not protect against collisions...

Agreed--it's a useful hack. Unfortunately it's not mentioned in the Readme, so most folks won't be aware of it. Plus if I set this up on a server for a client,  they may later add more single-site installs without remembering to do this... fo

[2015-05-25 17:18] tollmanz opened #63 "Licensing"
I failed to specify a license when this was initially released. Since then, I have accepted contributions from others. Following [VVV's lead](https://github.com/Varying-Vagrant-Vagrants/VVV/issues/346), I think it is important that current contributors have a say in the licensing.

I think we should settle on MIT or GPLv2 and I personally lean toward MIT, but am up for any thoughts folks have.

Ca

[2015-05-25 17:20] swalkinshaw commented on #63
MIT

[2015-05-25 17:30] Ramoonus commented on #63
Can I not vote
I have no in depth knowledge of both so I cannot decide

[2015-05-25 17:39] tollmanz commented on #63
That's fine. Are you ok with whatever decision we make then?

[2015-05-25 17:59] tollmanz opened #64 "Allow server weights to be set with environment variables"
When merging #62, I forgot to take into consideration setting weights for servers. We need to allow a third argument to pass in the weight for the server.

[2015-05-25 18:03] tollmanz commented on #61
Yep...your point is well taken. I need some improvements there. I do remember that when I first started messing with memcached in the WP context, the cache poisoning from two sites on the same memcached server was maddening. I can definitely save people headaches if this is better documented.

Realizing now that my comments assumed the db tables were in the same db. If that is the case, there will

[2015-05-25 18:51] JustinSainton commented on #63
Happy with MIT.  Worth noting for others, MIT is GPL2 compatible

[2015-05-25 18:59] cmmarslender commented on #63
MIT is also fine with me.

[2015-05-25 18:59] gmazzap commented on #63
MIT

[2015-05-25 22:27] aaronjorbin commented on #63
How about Affero General Public License?

I'm actually fine with whatever @tollmanz wants.  He's the lead of the
project and I trust him. I'll vote for whatever he votes for.

http://aaron.jorb.in
twitter: twitter.com/aaronjorbin

On Mon, May 25, 2015 at 1:39 PM, Zack Tollman notifications@github.com
wrote:

[2015-05-25 23:00] tollmanz commented on #63
Never heard of it, but that is really interesting. I generally like the idea behind it, but have no interest in even trying to enforce that.

I think you are voting for MIT :smile:

[2015-05-25 23:18] webaware commented on #63
[OK, I'm with you fellas](https://youtu.be/9xJkUyotSc4)... MIT.

[2015-05-25 23:22] tollmanz commented on #63
Awesome! Thanks all. MIT it is! PR forthcoming.

[2015-05-25 23:22] #63 closed, assigned to nobody

[2015-06-06 23:02] jeffwidman opened #67 "Can I use this alongside a full-page cache like WP-Supercache or WP-FFPC?"
This isn't so much of a bug report as a question about how object-caching in Wordpress actually works  under the covers. I thought I understood Wordpress caching, but then I read some docs + code, and now I'm confused... any help is appreciated.

I'm trying to accomplish the following:
1. Use Wordpress built-in caching mechanism to cache stuff for logged-in users. From my understanding, this store

[2015-06-07 15:24] tollmanz commented on #67
This first concern is roughly describing WordPress' object caching behavior. To implement object caching in WordPress, you need to install a 3rd party object cache that persists data to some storage engine. That is exactly what this library does. By dropping in this library, you are able to persistently cache data to memcached. This means that data that is generated and stored during one request w

[2015-06-07 15:24] #67 closed, assigned to nobody

[2015-06-09 14:03] joelataylor commented on #67
I know this is closed, but wanted to thank you @tollmanz for the awesome (clear) description above!

[2015-06-10 01:34] joelataylor opened #68 "Debug Bar looks for a `stats` method on the WP Object Cache class"
But it doesn't seem this class has that method defined. Any suggestions?

`$this->set_visible( is_object( $wp_object_cache ) && method_exists( $wp_object_cache, 'stats' ) );`

[2015-06-14 20:10] tollmanz commented on #68
@joelataylor Some of the other WordPress object caches have a `stats` method that will return information about the number of sets and gets in the current request. I never found this to be of much use and didn't include such a feature in this object cache. Debug Bar's implementation of this is half baked and the UI is so unusable. I'm not at all wanting to make any changes to compliment that.

If

[2015-06-14 20:10] #68 closed, assigned to nobody

[2015-06-28 22:54] franz-josef-kaiser commented on #52
Maybe you could add a link to the source so someone can jump in and help :) Also: Could you please add labels to the issues? Would make scanning them a bit easier. Thanks in advance!

ProTip: When you hit a link on GitHub, please hit `Y` on that page to point to the actual commit, so you don't refer to a moving target, therefore destroying a tickets history.

[2015-06-28 23:44] tollmanz commented on #52
@franz-josef-kaiser I am referring to the symlinking done in the install command: https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/blob/8a6f581dfb28c4802bce76a66012bab5a81c2a0f/src/wp-cli/command.php#L80-L81

[2015-07-01 11:20] franz-josef-kaiser opened #70 "Tag releases"
By now there are [no tags](https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/releases). This makes it hard (or: impossible) to use anything aside from _fake_ releases (branch aliasing) via Composer. This also makes it impossible to request this package without Composer using Git, cloning everything and then checking out the specific tag. This should get fixed.

[2015-07-01 12:00] franz-josef-kaiser commented on #70
Please tag as following:

[code]

…where the `-m`/message can be set to your likings. :)

[2015-07-15 03:34] BrunoSette opened #71 "Fatal error: Class 'Memcached' not found in php shell code on line 1"
i see that message when typing: $m = new Memcached();

Any Help?

[2015-07-22 14:46] shmuel-krakower commented on #71
Hi @BrunoSette  - you get this error because the Memcached php extension is missing from your installation. Run phpinfo() and look for 'Memcached' (you probably won't find it). This plugin was created to work with Memcached and not Memcache.

[2015-07-22 14:48] tollmanz commented on #71
Sorry for missing this @BrunoSette. Thanks for helping @shmuel-krakower!

@shmuel-krakower is 100% correct. You need to install [PECL Memcached](http://serverfault.com/questions/238110/how-to-install-pecl-memcached). It is really unfortunate that there is a "memcache" and "memcached" PECL extension :/ It leads to a lot of confusion.

[2015-07-22 14:48] #71 closed, assigned to nobody

[2015-08-26 00:14] franz-josef-kaiser commented on #70
Hey @tollmanz
Any progress on that? That one is really easy and above isn't just a random sample, but I searched up the _real_ commits where the tags belong. Hope you can move that one in. Thanks a bunch!

**ProTip:** When you are done, you can create [beautiful releases](https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/releases) that you can reference to.

[2015-08-26 02:45] tollmanz commented on #70
Totally missed this issue.

I'm happy to tag 1.0.0, but 2.0.0 is not released yet. I'm still working out how to release this on .org for the official 2.0.0 release...trying to find a way for it to live along side the other memcached library with the least amount of confusion.

How about if I tagged a 2.0.0-alpha?

[2015-08-26 08:01] franz-josef-kaiser commented on #70
You can do that. Composer can live with it pretty happy. Also you can tick the "this is a pre-release"-checkbox on bottom when you draft a pre-release here in GitHub [Releases](../../releases).

[2015-09-10 17:45] Buooy opened #72 "High Availability Memcached"
So I have a high availability setup with a load balancer to two wordpress servers with wordpress-pecl-memcached-object-cache installed.

Obviously when one cache is updated, the other is not. If I specify each individual server IP in global $memcached_servers, does it mean that when one memcached is updated, the other will be concurrently updated?

[2015-09-21 14:51] franz-josef-kaiser commented on #70
@tollmanz ping :)

[2015-09-23 02:19] tollmanz commented on #70
We now have `1.0.0` and `2.0.0-alpha`. I'm horrible for taking so long to do this. Thanks for your patience.

[2015-09-23 02:19] #70 closed, assigned to nobody

[2015-09-23 02:22] franz-josef-kaiser commented on #70
Thanks a bunch, Zack!

(Now: [Releases](https://github.com/tollmanz/wordpress-pecl-memcached-object-cache/releases) because they look nice)

[2015-12-12 08:06] portablesoft commented on #61
Hi, all.

I also have questions about the multiple single-site installs on single server.

I use different db_name and different table_prefix for the multiple single-sites. However, when I update the WordPress on one of the single-site. The entir cache in Memcached was delete. WordPress calls wp_cache_flush() when updating which flush the entir Memcached cache.

How to flush the cache of the only

[2015-12-13 01:52] tollmanz commented on #61
Absolutely! If you have two single sites using the same memcached instance, you must set a unique `WP_CACHE_KEY_SALT` value in each **wp-config.php** file or you will have significant cache poisoning issues.

This is a result of how Memcached works. There is no concept of separate "buckets" that are individually flushable. If you flush the cache, you flush the _whole_ cache. It does not care which

[2016-01-27 13:00] jpptinsley commented on #72
IIRC, it depends on your memcached settings -- it's the memcached client library duplicates objects across servers.

You specifically want to check the /etc/php5/conf.d/20-memcached.ini (or related) settings. There's guides available via googling, I don't have the settings to hand right now.

Really, though, the default is that memcached client will halve the hash space across the two memcached se

[2016-02-17 22:26] khromov commented on #61
@tollmanz Bucket clearing could be accomplished using changeable prefixes (based on time stamp, for example).

Here's an object cache wrapper we wrote for a recent project where we needed to be able to flush parts of the object cache:
https://gist.github.com/khromov/eeb7e21b49c03cfcf86f

Usage:

[code]

[2016-03-18 13:45] joehoyle opened #80 "$memcached_servers compatibility with "the other plugin""
I'm not sure if this was intentional or discussed before, we use(d) a fork of this dropin: https://wordpress.org/plugins/memcached/ which I'm sure most are familiar with.

The format for defining `$memached_servers` global in that plugin is as such:

[code]

Whereas `wordpress-pecl-memcached-object-cache` uses:

[code]

This annoyingly makes the two configurations very similar but different. I am

[2016-05-14 21:44] xanderseren opened #82 "Using with Wordpress REST API"
Possible noob question...I'm using the Wordpress REST API and have implemented this, but when I make an xhr request it doesn't seem to to be caching properly. The test script works and returns:

Is there anything else I need to do in order for this to work on data loaded via the wordpress REST API? This is the response header ...

[code]

[2016-05-17 11:49] leewillis77 opened #83 "wp_suspend_cache_addition() is not always defined when wp_cache_add is called"
This was originally fixed in #44 - however it looks like those changes haven't made it into the develop branch, and are therefore not included in the version of the drop-in that is available to composer.

[2016-06-09 20:28] einkoro opened #84 "Error: 'mem' is not a registered wp command."
It looks like the mem WP CLI command is not being detected when installing the develop branch via composer:

[code]

Taking a closer look it seems to be because the plugin itself is within the src directory after the installation so the plugin isn't loaded by WordPress:

[code]

Shuffling everything in src up into the root of the repository would fix this.

[2016-09-19 08:25] webaware opened #86 "Memcached method signatures have changed for getMulti() and getMultiByKey()"
Memcached methods getMulti() and getMultiByKey() have changed in the latest pecl release. CAS tokens are no longer accepted, leading to fewer method arguments.

php-memcached-dev/php-memcached#229

[2017-07-19 20:28] ParhamG opened #89 "get_theme_mod() returning the old cached value"
Earlier today I had a weird issue on a WP-network installation which uses this object cache drop-in, and after looking into it I found out that get_theme_mod() is returning the older cached value for a specific key and not the newer value which was updated using set_theme_mod(). I verified that the value was actually updated in the options table though. Triggering set_theme_mod() with the new valu

[2017-07-19 23:22] szepeviktor commented on #89
Could it be a core bug? Try searching [Trac](https://core.trac.wordpress.org/).

[2017-07-19 23:33] tollmanz commented on #89
This is caused by a really nasty [core bug](https://core.trac.wordpress.org/ticket/31245). In many cases, you will experience problems with the cache returning old values. This bug has existed as long as WP has supported an object cache.

I have not taken the time to implement a work around in this library, but I recommend checking out: https://github.com/humanmade/wordpress-pecl-memcached-object-

[2017-07-19 23:33] #89 closed, assigned to nobody

[2017-08-16 20:43] szepeviktor opened #93 "Modernize and fix tests"
Travis' stable OS is Trusty.
We could support PHP versions up to 7.1

[2020-07-11 10:48] uhlhosting opened #95 "is maintained?"

[2020-07-13 13:08] tollmanz commented on #95
It is not. This is an excellent alternative: https://github.com/humanmade/memcached

[2020-07-13 13:08] #95 closed, assigned to nobody